<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- {{ url_for('finished') }} -->
    <!-- {{ url_for('finished', filename=filename)}} -->
    <form action="{{ url_for('finished') }}" method="POST">
        {{ filename }} 正在下载...
        <!-- <input type="text" name="sbumit" id="sbumit"> -->
        <button type="submit">下载压缩包</button>
    </form>
    
</body>
</html>